<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/exela-technologies.svg" alt="Exela Technologies" />
        <p>Exela is a business process automation (BPA) leader, leveraging a global footprint and proprietary technology to provide digital transformation solutions enhancing quality, productivity, and end-user experience.</p>
      </div>
      <div class="col-md-6">
        <h5 class="text-uppercase row-md-6">Contact Us</h5>
        <div class="row-md-6 contact">
          <div class="info col-md-6">
            <h6 class="text-uppercase">Exela Innovation Centers</h6>
            <div>2701 E. Grauwyler Road <br> Irving, TX 75061 USA</div>
          </div>
          <div class="info col-md-6">
            <h6>Global Headquarters</h6>
            <p>Join us for an interactive and immersive journey that covers Exela's latest innovations.</p>
            <a href="https://www.exelatech.com/innovation-centers">Learn more ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2022 Exela Technologies, Inc. All rights reserved.</div>
</footer>