<div class="card">
    <div class="card-header">
        <h4> User Management System</h4>
    </div>
   
    <div class="card-body">
      <h5 class="card-title"> How App Works ?</h5>
      <ul class="list-group">
        <li class="list-group-item">This application is developed to showcase the listing of Employees</li>
        <li class="list-group-item">User can Add, Edit or Delete an employee </li>
        <li class="list-group-item">Employee details are listed into a table</li> 
        <li class="list-group-item">App contains Sort and Filter at each column</li>
        <li class="list-group-item">App contain Pagination at the top of table</li>
      </ul>
    <p class="card-text">Application is having two tabs - </p>
      <ol>
        <li><b>How it Works ?</b> &nbsp; <i>tab consist of user manual</i></li>
        <li><b>User List</b> &nbsp; <i> tab contains Employee Management stuff</i></li>
      </ol>
      <p>User selecting <span class="tab">User List</span> tab, which will navigate to Employee listing page.<br> This screen displays list of employee where user can add, edit or delete the employee<br> </p>

      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Add Button</h5>
          <p>
            For adding an employee, need to click on <span  class="badge badge-danger text-wrap">Add User</span> button, this will navigates to a screen where user can update user info<br>
            <b>Validation - </b><i>All are required fields to be filled by user</i> without that he will not able to add employee details. beside Add button app have one Cancel button, with that user can navigate back to employee listing screen</p>
        </div>
      </div>
      
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Edit Button</h5>
          <p class="card-text">If user wants to update any information, he will have to select the checkbox. On checkbox selection Edit menu will appear. Onclick of that menu user will navigate to edit screen. There user can update the information and click on Update User button, this will update employee information and navigate back to employee listing If user do not wants to update and go back to listing page, He can click on Cancel button</p>
        </div>
      </div>

      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Delete Button</h5>
          <p class="card-text">If user wants to delete any record. He will have to select the checkbox, on checkbox selection Delete menu will appear and on on click of delete menu, the selected records will get deleted and the employee list will get updated</p>
          <b>Note - </b><i>Multiple records can be deleted at a time</i>
        </div>
      </div>

    </div>
  </div>