<div class="container-fluid">
    <div class="table-head">
        <div ><h2>Employee Details</h2></div>
        <div >
            <button type="button" class="btn btn-danger" (click)="createUser()">Add User</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="title" *ngIf="!isShowToolbar" >List of Users</div>
            <div *ngIf="isShowToolbar" class="d-inline-block menubar">
                <ng-container *ngFor="let menu of contextualMenu; let i = index">
                    <a class="btn btn-link" (click)="contextMenuAction(menu.name)">
                    {{ menu.name }}
                    </a>
                </ng-container>
            </div>
            <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="checkbox">
                    </th>
                    <th (click)="sort('firstName')">First Name &nbsp; <i class="fa fa-sort"></i></th>
                    <th (click)="sort('lastName')">Last Name &nbsp; <i class="fa fa-sort"></i></th>
                    <th (click)="sort('userName')">User Name &nbsp; <i class="fa fa-sort"></i></th>
                    <th (click)="sort('city')">City &nbsp; <i class="fa fa-sort"></i></th>
                    <th class = "select">Department
                        <select #filters class="select" (change)="addFilter(filters.value)">
                            <option value="all">all</option>
                            <option *ngFor="let department of filteredDepartmentArray" [ngValue]="department">
                              {{department}}
                            </option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="userList.length > 0">
                <tr *ngFor="let user of userList | orderBy: key: reverse| paginate: {itemsPerPage: 5, currentPage: p}; let i = index">
                    <td class="text-center">
                        <input type="checkbox" [(ngModel)]='user.isSelected' (click)="OnRowClick(user.userId)">
                    </td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.department}}</td>
                </tr>
                </tbody>
                <tbody class="noData" *ngIf="userList.length === 0">
                    <tr>
                        <td colspan="6" >
                            No Records Found!
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
